@model List<AllCoachesViewModel>

@{
	ViewData["Title"] = "Meet The Coaches";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if(!Model.Any())
{
	<h2 class="text-center">There aren't any coaches in the system! Become one!</h2>
}
else
{
	<table class="table table-striped">
		<thread>
			<tr>
				<th><label>First Name</label></th>
				<th><label>Last Name</label></th>
				<th><label>Certificate</label></th>
				<th><label>Email</label></th>
				<th><label>Phone Number</label></th>
				<th><label>Workouts Count</label></th>
			</tr>
		</thread>
		<tbody>
			@foreach (AllCoachesViewModel coach in Model)
			{
				<partial name="_CoachPartial" model="coach"/>
			}
		</tbody>
	</table>
}