@using LiftingDome.Infrastructure.Extensions;
@using LiftingDome.Services.Data.Interfaces;
@model CoachFormModel

@inject IUserService UserService
@{
	CoachFormModel.Email = await this.UserService.GetUserEmailByUserIdAsync(this.User.GetId()!);
}
@{
	ViewBag.Title = "Become Coach";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"].Errors.First().ErrorMessage
	</div>
}
<partial name="_CoachFormPartial" model="@Model" />
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}