@model CoachFormModel
@{
	ViewData["Title"] = "Update Certificate";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_CoachFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}