@model PostFormModel
@{
	ViewData["Title"] = "Add New Post";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_AddPostFormPartial" model="@Model" />

@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}