@model List<AllForumPostViewModel>
@{
	ViewData["Title"] = "My Posts";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<a class="btn btn-dark mb-2" asp-area="" asp-controller="Forum" asp-action="All">To <span style="color:red">All</span> Posts</a>
<a class="btn btn-dark mb-2" asp-controller="Forum" asp-action="Add"><span style="color:red">Create</span> Post</a>
<br />
@if (!Model.Any())
{
		<h2 class="text-center">You do not have any posts yet! Create some!</h2>
}
else
{
	<div class="row">
		@foreach (AllForumPostViewModel post in Model)
		{
			<partial name="_PostPartial" model="post"/>
		}
	</div>

}