@using LiftingDome.Areas.Admin.Services.Interfaces;

@model AllUsersViewModel
@inject ICoachService CoachService
@inject IUserService UserService
@inject IAdministratorService AdminService
@{
	bool isUSerCoach = await CoachService.CoachExistsByEmailAsync(Model.Email);
}
<div class="col-md-4">
	<div class="card mb-3">
		<div class="card-body text-center">
			<b>@Model.FirstName @Model.LastName</b>
			<br>
			@if (isUSerCoach)
			{
					<b>(<span style="color:red">Coach</span>)</b>
			}
			else
			{
					<b>(<span style="color:red">Trainee</span>)</b>
			}
			<br>
			<b>@Model.Email</b>
			<br>
			<b>Total Posts: @Model.PostCount</b>
			<br>
			@if (isUSerCoach)
			{
					<b>Total Created Workouts: @await AdminService.TotalWorkoutsByCoachEmailAsync(Model.Email)</b>
			}
			else
			{
					<b>Total Added Workouts: @await AdminService.TotalWorkoutsByUserIdAsync(Model.Id)</b>
			}
		</div>
	</div>
</div>