@model WorkoutPreDeleteDetailsViewModel
@{
	ViewBag.Title = "Delete Workout";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="post" asp-action="Delete">
	<div class="row">
		<div class="col-md-4">
			<img class="card-img-top" src="@Model.ImageUrl" alt="Workout Image">
		</div>
		<div class="col-md-8">
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" disabled="disabled" />
			</div>
			<b>Are you sure you want to delete this workout?</b>
			<div class="form-group mt-2" style="float:none">
				<input type="submit" value="Delete" class="btn btn-danger" />
				<a class="btn btn-dark" asp-area="" asp-controller="Workout" asp-action="Mine">Go back</a>
			</div>
		</div>
	</div>
</form>