@model WorkoutFormModel
@{
	ViewData["Title"] = "Edit Workout";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_AddWorkoutFormPartial" model="@Model" />

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}