@model  List<AllWorkoutsViewModel>
@{
	ViewData["Title"] = "My Workouts";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<a class="btn btn-dark" style="margin:5px" asp-area="" asp-controller="Workout" asp-action="All">To <span style="color:red">All</span> Workouts</a>
<a class="btn btn-dark" style="margin:5px" asp-area="" asp-controller="Workout" asp-action="Add"><span style="color:red">Create</span> Workout</a>

@if(!Model.Any())
{
	<h2 class="text-center">You do not have any workouts yet! Get some!</h2>
}
else
{
	<div class="row">
		@foreach (LiftingDome.Web.ViewModels.Workout.AllWorkoutsViewModel workout in Model)
		{
			<partial name="_WorkoutPartial" model="workout"/>
		}
	</div>
}