@model List<AllWorkoutsViewModel>
@{
	ViewData["Title"] = "My Workouts";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if(!Model.Any())
{
	<h2 class="text-center">You do not have any workouts yet! Get some!</h2>
}
else
{
	<div class="row">
		@foreach (AllWorkoutsViewModel workout in Model)
		{
			<partial name="_WorkoutPartial" model="workout"/>
		}
	</div>
}