@model IEnumerable<IndexViewModel>
@{
	ViewData["Title"] = "Home Page";
	var workouts = Model.ToList();
}
@if (!workouts.Any())
{
	<div class="mt-4 p-5 bg-light">
		<h1 class="display-4">Welcome to Lifting Dome!</h1>
		<p class="lead">
			There are no workouts in the system currently available
			so why don't you just add one?
		</p>
		<hr class="my-4">
		<p class="lead">
			@if (this.User.Identity?.IsAuthenticated ?? false)
			{
				<a asp-controller="Workout" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Workout</a>
			}
		</p>
	</div>
}
<div class="mb-5"></div>

<div class="slideshow-container">

	@foreach (var workout in workouts)
	{
		<div class="mySlides fade">
		<div class="numbertext">1 / 3</div>
		<img src="@workout.ImageUrl" style="width:100%">
		<div class="carousel-caption d-none d-md-block">
			<h5>
				<a class="btn btn-primary" style="background-color:red; border-color:black" asp-controller="Workout" asp-action="Details" asp-route-id="@workout.Id"> @workout.Title</a>
			</h5>
		</div>
	</div>
	}

	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
	<span class="dot" onclick="currentSlide(1)"></span>
	<span class="dot" onclick="currentSlide(2)"></span>
	<span class="dot" onclick="currentSlide(3)"></span>
</div>

<div class="mb-5"></div>

<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-primary" id="statistics-button">Show Statistics</button>
	</div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics">

	<font size="5">
		<div class="text-center">
			Welcome To Lifting Dome!
			Home to:
		</div>
	</font>

	<div class="mb-5"></div>

	<div class="row">
		<h2 class="col-md-6 text-center" id="total_workouts"></h2>
		<h2 class="col-md-6 text-center" id="total_users"></h2>
	</div>
</div>

@section Scripts
{
	<script>
		$('#statistics-button').on('click', function (e) {
			e.preventDefault();
			e.stopPropagation();

			$.get('https://localhost:7087/api/statistics', function (data) {
				$('#total_workouts').text(data.totalWorkouts + " Workouts");
				$('#total_users').text(data.totalUsers + " Users");
				$('#statistics').removeClass('d-none');
				$('#statistics-button').hide();
			});
		});</script>
}

<link rel="stylesheet" href="./CSS/index.css">
<script src="~/js/Index.js"></script>