@model PostPreDeleteDetailsViewModel
@{
	ViewBag.Title = "Delete Post";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="post" asp-action="Delete">
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<input asp-for="Text" class="form-control" disabled="disabled" style="overflow:visible"/>
			</div>
			<b>Are you sure you want to delete this post?</b>
			<div class="form-group mt-2" style="float:none">
				<input type="submit" value="Delete" class="btn btn-danger" />
				<a class="btn btn-dark" asp-area="" asp-controller="ForumChat" asp-action="Mine">To <span style="color:red">My</span> Posts</a>
				<a class="btn btn-dark" asp-area="" asp-controller="ForumChat" asp-action="All">To <span style="color:red">All</span> Posts</a>
			</div>
		</div>
	</div>
</form>