@using LiftingDome.Infrastructure.Extensions;
@using LiftingDome.Services.Data.Interfaces;
@using static LiftingDome.Common.GeneralApplicationConstants;
@inject ICoachService CoachService
@{
    bool isUserCoach = await CoachService.CoachExistsByUserIdAsync(this.User.GetId()!);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lifting Dome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LiftingDome.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color:red; border:red; height:30px; margin:0; padding:0; position:fixed; top:0; width:100%; z-index: 1;">
            <div class="container-fluid" style="background-color:red">
                <a class="navbar-brand text-dark" style="font-size:30px; margin-top:25px" asp-area="" asp-controller="Home" asp-action="Index"><b>LD</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="background-color:red; margin-top:25px">   
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Workout" asp-action="All"><b>Workouts</b></a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Calculator" asp-action="Calculate"><b>Calculate your 1RM!</b></a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Forum" asp-action="All"><b>Forum</b></a>
                        </li>
                        @if (isUserCoach)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Coach" asp-action="Update"><b>Update Personal Info</b></a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Lifting Dome @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}");
            }
        </div>
    </footer>
   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>


