@model AllForumPostViewModel

<div class="col-md-4">
	<div class="card mb-3">
			<div class="card-body text-center">
				<h3>@Model.CreatorName</h3>
				<h4>@Model.Text</h4>
		    </div>
	</div>
</div>